button.approve_bt {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #ff9900;
    border-radius: 5px;
}

#approve-table table, #approve-table td, #approve-table th {
    border: 1px solid black;
    text-align: center;
    padding-left: 6px;
    padding-right: 6px;
    vertical-align: middle;
}

#approve-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    color: #ffffff;
}

#approve-table thead tr {
    background-color: #ff9900;
    border-radius: 5px 5px 0 0;
}
​
#approve-table table {
    border-collapse: collapse;
    width: 100%;
}

#approve-table td {
    height: 50px;
}

#approve-table td img {
    max-width: 55%;
}

#approve-table input[name=appr_selected] {
    width: 28px;
    height: 28px;
}