/*Tablet*/
@media screen and (max-width: 768px) {
    /*Header*/
    .navbar-search .input-group {
        padding: 10px 20px;
    }
    .my-navbar .row:nth-child(2) .form-group select{
        margin: 10px auto;
    }
    .navbar-hashtag {
        display: flex;
        float: none;
    }
    .navbar-user {
        padding-left: 8px;
        padding-right: 8px;
    }
    .navbar-user .navbar-nav li a {
        padding-left: 8px;
        padding-right: 8px;
    }
}
/*Mobile*/
@media screen and (max-width: 414px) {
    /*Header*/
    .navbar-search .input-group {
        padding: 10px 20px;
    }
    .my-navbar .row:nth-child(2) .form-group select {
        margin: 10px auto;
    }
    .navbar-hashtag {
        display: flex;
        float: none;
    }
    .navbar-user .navbar-nav li a {
        padding-left: 8px;
        padding-right: 8px;
    }

    #editProfileModal .modal-content {
        max-width: 100%;
    }

    /*User Page*/
    #avatar-wrapper {
        text-align: center;
    }
    #account_info {
        padding: 10px 20px;
    }
}