.nav-tabs a.nav-link {
    color: #ff9900;
}
    .nav-tabs a.nav-link.active {
        background-color: #ff9900;
    }
#historyTabContent .table{
    font-size: 0.7em;
}
#historyTabContent .table th {
    background-color: #ff9900;
    border: 1px solid #BBBBBB;
}
#historyTabContent .table td {
    border: 1px solid #BBBBBB;
}

#userInfoTable td:first-child {
    color: #ff6633;
    font-weight: bold;
    width: 30%;
}
#userInfoTable td:nth-child(2) {
    width: 70%;
}
#userFuncGroup a {
    color: #ff9900;
    text-decoration: underline;
    padding-left: 10px;
}
#userFuncGroup a:first-child {
    padding-left: 10px;
}
#userFuncGroup a:hover {
    cursor: pointer;
}
#avatar-wrapper {
    margin-bottom: 25px;
}
.avatar {
    width: 192px;
    height: 192px;
    max-width: 100%;
    border-radius: 100%; 
}
.avatar:hover {
    cursor: pointer;
}
#account_info {
    display: inline-block;
    vertical-align: top;
    padding: 0 20px;
}
#account_info li {
    padding: 5px 0;
    color: #ff6633;
    font-weight: bold;
}
#account_info li span{
    font-weight: 400;
}
.btn-chotot {
    color: #ffffff;
    background-color: #ff9900;
    font-size: 0.73em;
    padding: 3px;
    margin-top: 2px;
}
    .btn-chotot:not(:last-child) {
        margin-right: 2px;
    }
.btn-chotot:hover {
    background-color: #ffffff;
    color: #ff9900;
}
.sellingEditBtn {
    padding: 0;
}
.btn-chotot a {
    display: block;
    width: 100%;
    height: 100%;
    color: #ffffff;
    padding: 3px;
    padding-top: 4px;
    background-color: #ff9900;
}
.btn-chotot a:hover {
    background-color: #ffffff;
    color: #ff9900;
    text-decoration: none;
}
    /*Modal*/
    #editProfileModal .modal-content {
        width: 600px;
    }
#editProfileModal label:not(.error) {
    font-weight: bold;
    vertical-align: middle;
    top: 2px;
}

#avatarModal .modal-content {
    width: 600px;
}
#avatarModal .form-group {
    float: right;
}
#avatarModal .error {
    display: block;
}