@{
    ViewBag.Title = "Approve Pageeeeeeeee";
}
<h1>@ViewBag.Title</h1>
@section Scripts {
    <script type="text/javascript">
        userJs = '@Html.Raw(ViewBag.gUserStr)';
    </script>
    @Scripts.Render("~/bundles/approveScripts")
}