<hgroup>
    <h1>Lỗi</h1>
    <h2>@ViewBag.errorMsg.</h2>
</hgroup>
<img src="~/Images/item_error.jpg" style="width: 60%; display:block; margin: 10px auto;"/>

@section Scripts {
    <script type="text/javascript">
        userJs = '@Html.Raw(ViewBag.gUserStr)';
    </script>
}